<div id="container" (click)="enter($event)">
	<h1>
		OPTIMUS PRIME
	</h1>
	<span><br>gurkirat2412@gmail.com</span>
	<div class="row" *ngIf=" inGame ">
		<div class="width-25">
			<span>Level
				<br>
			</span>
			<h2> {{level}}
			</h2>
		</div>
		<div class="width-25">
			<span>Score
				<br>
			</span>
			<h2>
				{{score}}
			</h2>
		</div>
		<div class="width-25">
			<span>Time
				<br>
			</span>
			<h2> {{time}}
			</h2>
		</div>
		<div class="width-25">
			<span>Lives
				<br>
			</span>
			<h2>{{lives}}
			</h2>
		</div>
	</div>
	<div class="row" *ngIf=" !inGame ">
		<div class="width-33">
			<span>Your Best
				<br>
			</span>
			<h2>
				{{best}}
			</h2>
			<span>
				<br>{{(name.length>10)?(name|slice:0:8)+'..':(name)}}
			</span>
		</div>
		<div class="width-33">
			<span>Current
				<br>
			</span>
			<h2>
				{{score}}
			</h2>
			<span>
				<br>Score
			</span>
		</div>
		<div class="width-33">
			<span>Global Best
				<br>
			</span>
			<h2>
				{{gBest.score}}
				<img *ngIf="!gBest.score" class="loader" src="assets/loader2.gif" />
			</h2>
			<span *ngIf="gBest.initials">
				<br>{{(gBest.initials.length>10)?(gBest.initials|slice:0:8)+'..':(gBest.initials)}}</span>
		</div>
	</div>
	<h3 *ngIf="!inGame">
		<span *ngIf="name">Tap your name to edit</span>
		<input type="text" class="form-control" [maxlength]="10" id="name" placeholder="Enter your intials to start..." [(ngModel)]="name"
		/>
	</h3>
	<div class="border">
		<span>Guess the next prime number [<a target="_blank" href="https://en.wikipedia.org/wiki/Prime_number">Help</a>]
			<br>
		</span>
		<h3>
			{{prevStr}}
			<label *ngIf="inGame">,
				<input type="number" class="form-control" min="1" [(ngModel)]="input" (keyup)="enter($event)" #myInput id="myInput" />{{ myInput.focus() }}</label>
		</h3>
		<div class="incorrect" *ngIf="toLearn.length> 0">
			Remember:
			<label *ngFor="let num of toLearn">&nbsp;&nbsp;{{num}}&nbsp;&nbsp;</label>
		</div>
	</div>
	<span *ngIf="name && !inGame">Tap anywhere to start</span>
</div>