@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */
#container{
	margin: 25px;
	font-family:consolas;
	text-align:center;
	height: 100%;
	color: whitesmoke;
}

h1{
	font-size: 70px;
	color:plum;
	line-height: 60px;
	font-weight: bolder;
	margin:0;
}

h2{
	margin:0;
	color:chocolate;
	font-size: 40px;
	display: inline-block;
}

span{
	font-size: 15px;
	font-weight: bold;
	height: 15px;
}

input#myInput{
	width: 100px;
}


.incorrect{
	color: red;
}

.width-25{
	display: inline-block;
	width: 25%;
}

.width-33{
	display: inline-block;
	width: 33%;
}

img.loader{
	width:15%;
}

.form-control {
	color:chocolate;
	font-size: 1.75rem;
	border: 0;
	background: transparent;
	display: inline;
	text-align: center;
}

.form-control:focus {
	border: solid 2px chocolate;
	border-radius: 10px;
	color:chocolate;
	background:transparent;
}

.row, .border{
	border-radius: 10px;
	padding: 10px 0;
	margin: 10px 0;
	border: solid 2px chocolate;
	text-align: center;
}
.row div{
	border-radius: 10px;
}
